{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p> This is Veera Deepthi Sai. I am studying in Sree Vidyanikethan Engineering College in the stream of Computer Science. I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Veera Deepthi Sai</p>
            <p>Contact No: +91-9493910911</p>
            <p>Email: deepthisaiveera@gmail.com</p>
            <p>Location: Tirupati- 517102</p>
        </div>
    </br>
</div>{% endblock%}